.dropDown {
    position: relative;
    cursor: pointer;
}
.dropdownHeader {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    border-radius: 10px;
    color: rgb(170, 170, 170);
    padding-left: 20px;
    margin-top: 5px;
    background-color: rgba(50, 53, 55, 1);
    user-select: none;
}
.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 87%;
    width: 100%;
    height: 90px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(50, 53, 55, 1);
}
@keyframes In {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
.active {
    animation: In 0.3s forwards;
}
@keyframes Out {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
.inactive {
    animation: Out 0.3s forwards;
}
.dropdownElem {
    user-select: none;
    width: 98%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(34, 35, 36);
}
.arrow {
    margin-right: 20px;
}