.passwordBtn {
    width: 30px;
    position: absolute;
    left: 85%;
    top: 25%;
    border-radius: 10px;
    cursor: pointer;
    filter: opacity(0.6);
}
.passwordBtnShow {
    filter: brightness(120%);
}
.passwordBtn:hover {
    background-color: rgb(80, 80, 80);
}
.passwordBtn:active {
    background-color: rgb(41, 41, 41);
}
.passwordDiv {
    height: 60px;
    position: relative;
}
.longInp {
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 430px) {
    .passwordBtn {
        left: 75%;
    }
}