.filtrationGroup {
    position: relative;
    display: flex;
    width: 100%;
}
.searchInput {
    color: rgb(213, 213, 213);
    display: block;
    width: 75%;
    height: 56px;
    background-color: rgba(50, 53, 55, 1);
    border-radius: 10px;
    padding-left: 20px;
}
.filter {
    top: 30%;
    left: 70%;
    position: absolute;
    border-radius: 10px;
}
.filter:hover {
    background-color: rgb(74, 74, 74);
}
.filter:active {
    background-color: rgb(85, 85, 85);
}