.authorizeTheme {
    background: url('../../assets/authorizeAssets/authorizeTheme.PNG');
    width: 100%;
    height: 100%;
}
.pixema {
    padding-left: 40px;
    padding-top: 20px;
}
.authorizeMain {
    margin: 150px auto 0;
    background-color: rgba(36, 36, 38, 1);
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.authorizeMainWhite {
    background-color: white;
}
.authorizeWind {
    width: 85%;
    padding-top: 26px;
    margin-left: 30px;
}
.copyright {
    margin-top: 200px;
    margin-left: calc(50% - 80px);
}
.authText {
    color: white;
    font-size: 20px;
}
.authTextWhite {
    color: black;
}
.inputBlock {
    width: 100%;
    color: white;
    margin-top: 16px;
}
.inputBlockWhite {
    color: black;
}
.inputBlock .longInp {
    margin-top: 10px;
    width: 100%;
}
.inputBlockLast {
    margin-top: 10px;
}
.signInBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    height: 50px;
    background-color: rgba(123, 97, 255, 1);
    user-select: none;
}
.signInBtn:hover {
    filter: brightness(120%);
}
.signInBtn:active {
    filter: brightness(80%);
}
.resetSuccess {
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}