.mainContainer {
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
}
.firstContainer {
    display: flex;
    justify-content: space-between;
}
.recommendations {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.allPagesContainer {
    margin-top: 10px;
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.buttons {
    width: 9%;
    display: flex;
}
.text {
    color: white;
}
.pointer {
    width: 20px;
}
.pointer:hover {
    filter: brightness(120%);
}
.pointer:active {
    filter: brightness(80%);
}
.pointerReverse {
    width: 20px;
    transform: scaleX(-1);
}
.pointerReverse:hover {
    filter: brightness(120%);
}
.pointerReverse:active {
    filter: brightness(80%);
}

@media (max-width: 930px) {
    .mainContainer {
        width: 85%;
    }
}
@media (max-width: 320px) {
    .mainContainer {
        margin-left: 20px;
        width: 67%;
    }
    .buttons {
        width: 20%;
    }
}