html, body {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
.mainPage {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
}
.paginationAndSearch {
    width: 75%;
    height: 1014px;
    padding-top: 48px;
    margin-left: 120px;
}

@media (max-width: 768px) {
    .paginationAndSearch {
        width: 100%;
        margin-left: 10px;
    }
}